* {
	padding: 0;
	margin: 0;
}

body {
	width: 100vw;
	height: 100vh;
	background: #16a085; /* fallback for old browsers */
	background: -webkit-linear-gradient(45deg, #16a085, #f4d03f); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(45deg, #16a085, #f4d03f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	text-align: center;
	box-sizing: border;
	font-family: 'Permanent Marker', cursive, Calibri;
}

h1 {
	padding-top: 100px;
	padding-bottom: 70px;
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80%;
	height: 50%;
	margin: 0 auto;
}

.controls {
	height: 100%;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-around; 
}

.controls p {
	font-size: 30px;
}

#start_btn {
	background: #ff6e7f;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #bfe9ff, #ff6e7f);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #bfe9ff, #ff6e7f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	border: 1px solid #bfe9ff;
	padding: 30px;
	border-radius: 5px;
	font-family: 'Skranji', cursive;
	font-size: 30px;
	cursor: pointer;
	box-shadow: 7px 7px 5px rgba(0,0,0, .6);
}

#start_btn:active {
	box-shadow: none;
}

.playground {
	display:flex;
	flex-wrap:wrap;
	width: 600px;
	height: 400px;
	margin-left: 50px;
	box-shadow: 0px 0px 10px rgba(0,0,0, .6);
	padding-bottom: 20px;
	border-radius: 5px;
}

.hole {
	flex: 1 0 33.33%;
	position: relative;
	overflow: hidden;
}

.hole:after {
	display: block;
	background: url(./img/dirt.svg) bottom center no-repeat;
	background-size: contain;
	content:'';
	width: 100%;
	height: 70px;
	position: absolute;
	z-index: 2;
	bottom:-25px;
}

.mole {
  background: url('./img/mole.svg') bottom center no-repeat;
  background-size: 70%;
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  transition: all 0.4s;
  padding-top: 20px;
}

.hole.appear .mole {
	top: 0%;
}

.finish {
	color: red;
	animation: flash 2s linear infinite; 
}

@keyframes flash {
	from,
  50%,
  to {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}
